{% extends 'base.html' %}
{% set active = "About" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<h1 style="padding-top:60px;">About Us</h1>
<div class="par1">
    <p>
        An About Us page is a section on a website that provides information about a company, organization, or individual.
         It is an opportunity to tell your brand's story, share your vision, history, values, and achievements, and introduce 
         team members. This is where you build trust and credibility with customers.
    </p>
</div>
<div class="par1">
    <p>
        An About Us page is a section on a website that provides information about a company, organization, or individual.
         It is an opportunity to tell your brand's story, share your vision, history, values, and achievements, and introduce 
         team members. This is where you build trust and credibility with customers.
    </p>
</div>
<div class="par1">
    <p>
        An About Us page is a section on a website that provides information about a company, organization, or individual.
         It is an opportunity to tell your brand's story, share your vision, history, values, and achievements, and introduce 
         team members. This is where you build trust and credibility with customers.
    </p>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.3163461837344!2d-75.19779392415599!3d39.95667937151729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6c64e1dbc7ee1%3A0x1d942ccb2e5f80b2!2sDrexel%20University%20College%20of%20Computing%20%26%20Informatics!5e0!3m2!1sen!2sus!4v1708900196208!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}